.fireworks-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.heart-particle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(
    50% 0%,
    61% 10%,
    68% 25%,
    68% 40%,
    50% 60%,
    32% 40%,
    32% 25%,
    39% 10%
  ); /* heart shape */
  animation: explode var(--duration, 1s) forwards;
}

@keyframes explode {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) scale(1);
    opacity: 0;
  }
}
